.navbars
{
    background-color: black;
    
}
#navbars123
{
    position: fixed;
    top: 0px;
}
.logo
{
    color: #fff !important;
    font-weight: bolder;
}
.menues
{
    color: white !important;
    font-weight: bolder;
}